.wrapper__main {
    background-image: url(alcohol.gpg);
    border: 1px solid red;
}

.wrapper__inner--white-bg {
    background-color: #ffffff;
    width: 376px;
    height: 846px;
    padding: 72px;
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.wrapper__logo {
    width: 376px;
    height: 279px;
}