.wrapper__photo--part {
    display: flex;
    margin: 50px;
}

.wrapper__people {
    background: url(грид1.png) no-repeat center;
    background-size: cover;
    flex-grow: 3;
    display: flex;
    margin: 0 20px;
    height: 80vh;
    font-family: 'Poppins';
    font-size: 75px;
    line-height: 85px;
    color: #FCDE03;
    font-weight: 900;
    padding: 30px;
}

.wrapper__girls {
    background: url(грид2.png) no-repeat center;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    margin: 0 20px;
    height: 80vh;
    font-family: 'Poppins';
    font-size: 75px;
    line-height: 85px;
    color: #FCDE03;
    font-weight: 900;
    padding: 30px;
    align-items: flex-end;
    box-shadow: 0 10px 60px #000 inset;
}

.wrapper__records {
    background: url(грид3.png) no-repeat center;
    background-size: cover;
    flex-grow: 0.5;
    display: flex;
    margin: 0 20px;
    height: 90vh;
    font-family: 'Poppins';
    font-size: 75px;
    line-height: 85px;
    color: #FCDE03;
    font-weight: 900;
    padding: 30px;
    box-shadow: 0 10px 60px #000 inset;
}

.wrapper__flag {
    background: url(грид4.png) no-repeat center;
    background-size: cover;
    flex-grow: 3;
    display: flex;
    margin: 0 20px;
    height: 90vh;
    font-family: 'Poppins';
    font-size: 75px;
    line-height: 85px;
    color: #FCDE03;
    font-weight: 900;
    padding: 30px;
    align-items: flex-end;
    justify-content: right;
}